h1 {
    color: white;
    background-color: rgb(43, 43, 105);
    margin: -8px;
    height: 60px;
    border-width: 0;
    font-size: 24px;
}

span {
    border-radius: 20%;
    background-color: rgb(96, 176, 202);
    color: black;
    margin: 2px;
    padding: 2px;
    font-size: 10px;
    border-width: 10px;
    display: inline-block;
}

p {
    margin-left: 0px;
    margin-top: 0px;
    margin-block-end: 6px;
}

.name {
    border-block-end: 2px;
    font-size: 14px;
}
.card {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-block-end: 10px;
    margin-inline-end: 10px;
    box-sizing: border-box;
    margin: 10px;
    padding: 0px;
}

body {
    margin: 10px 300px;
}

